<!doctype html>
<html lang="en">
<head>
    <title>Boston Living Better</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/assets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" >
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="static/images/logo2.png" alt="" width="50" height="50" class="d-inline-block align-text-top" style="margin-left: 25px;">
            <h3 class="d-inline-block align-text-top" style="font-size:32px;margin-left: 25px; margin-top: 5px;">Boston Living Better</h3> 
          </a>
        </div>
      </nav>
      <div class="p-3 mb-2 bg-light text-dark" style="height:110px;">
        <div class="row" style="margin: 20px;margin-left: 25px;">
          <div class="col-md-1" style="padding-top: 5px;">Concern 1:</div>
          <div class="col-md-2" style="padding-left: 5px; padding-right: 30px; border-right: 1px solid rgb(197, 186, 186);">
            <select id="concern1" class="form-control selectpicker" data-live-search="true">
              {% for category in category_list %}
                <option data-tokens={{category}}>{{category}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-1" style="padding-top: 5px; padding-left: 5px; margin-left: 30px; margin-right:5px;">Concern 2:</div>
          <div class="col-md-2" style="padding-left: 5px; padding-right: 30px; border-right: 1px solid rgb(197, 186, 186);" >
            <select id="concern2" class="form-control selectpicker" data-live-search="true">
              {% for category in category_list %}
                <option data-tokens={{category}}>{{category}}</option>
              {% endfor %}
            </select>
          </div>          
          <!-- <div class="col-md-1" style="width: 150px; padding-left: 35px; padding-top: 5px;  margin-left:5px; ">Stay Period</div> -->
          <div class="col-md-1 d-flex" style="padding-top: 5px; margin-left: 35px; margin-right: 80px;">
            <span class="font-weight-bold" >0</span>
            <form class="range-field" style="width: 150px; padding-top: 2px;padding-left: 10px;padding-right: 10px;">
              <input id="number" class="border-0" type="range" min="0" max="6" />
            </form>
            <span class="font-weight-bold">6</span>
          </div>
          <select id="period" class="form-select col-md-1" aria-label="Default select example" style="height: 40px; width: 100px; padding-top: 5px;">
            <option selected value="hour">hour</option>
            <option value="day">day</option>
            <option value="month">Month</option>

          </select>
          <div class="col-md-1"></div>
          <div class="col-md-1">
            <button type="button" class="btn btn-primary" style="width: 150px;" onclick="get_suggestion()">Get Suggestion</button>
          </div>
        </div>
      </div>
      <div class="container" id="recommendation">
        <div class="row">
            <div class="col-md-10 p-3"  style=" margin-top: 15px; margin-left: 30px; border: 2px solid rgb(165, 159, 159);">
                <div class="side-info-content" style="padding: 10px;">
                    <div class="row">
                      <div class="col-md-1"> </div>
                      <div class="col-md-1"> </div>
                      <div class="col-md-2"> 
                        <span id="zipcode" class="title"><strong>Zipcode</strong></span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;"> 
                        <span id="cat" class="title"><strong>Concern1</strong></span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;"> 
                        <span id="cat" class="title"><strong>Concern2</strong></span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="shop" class="title"><strong> Shops</strong></span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;"><strong>Restaurant</strong></div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="hotel" class="title"><strong>Hotel</strong></span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="hospital" class="title"><strong>Hospital</strong></span>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-1"> </div>
                      <div class="col-md-1"> </div>
                      <div class="col-md-2"> 
                        <span id="zip_code1" class="zip">000000</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;"> 
                        <span id="zip1_cat1" class="zip">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;"> 
                        <span id="zip1_cat2" class="cat">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="zip1_shop" class="infra">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="zip1_rest" class="infra">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="zip1_hotel" class="infra">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="zip1_hosp" class="infra">N/A</span>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-1"> </div>
                      <div class="col-md-1"> </div>
                      <div class="col-md-2"> 
                        <span id="zipcode2" class="zip">000000</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;"> 
                        <span id="zip2_cat1" class="cat">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;"> 
                        <span id="zip2_cat2" class="cat">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="zip2_shop" class="infra">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="zip2_rest" class="infra">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="zip2_hotel" class="infra">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="zip2_hosp" class="infra">N/A</span>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-1"> </div>
                      <div class="col-md-1"> </div>
                      <div class="col-md-2"> 
                        <span id="zipcode3" class="zip">000000</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;"> 
                        <span id="zip3_cat1" class="cat">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;"> 
                        <span id="zip3_cat2" class="cat">N/A</span>
                      </div>
                      <div class="col-md-1"style="margin-right: 10px;">
                        <span id="zip3_shop" class="infra">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="zip3_rest" class="infra">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="zip3_hotel" class="infra">N/A</span>
                      </div>
                      <div class="col-md-1" style="margin-right: 10px;">
                        <span id="zip3_hosp" class="infra">N/A</span>
                      </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 50px;">
              <div class="col-sm-6" >
                  <div id="map" class="w-90" style="width: 1100px; height: 520px; margin-bottom: 30px; margin-left: 20px;"></div>
              </div>

    </div>

    <script>
        var map = L.map('map').setView([42.361145, -71.057083], 16);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors'}).addTo(map);
        async function get_suggestion() {
          var concern1 = document.getElementById("concern1").value;
          var concern2 = document.getElementById("concern2").value;
          var period = document.getElementById("period").value;
          var number = document.getElementById("number").value;
          console.log(concern1, concern2, period, number)
          let response = await fetch("/callback/suggestion?concern1=" + concern1 + "&concern2=" + concern2 + "&period=" + period + "&number=" + number);
          if(response.ok) {
            let recommendation = await response.json();
            if (recommendation["1"] == "n") {
              alert("HTTP-Error: No enough data, please increase the range" );
            }else {
              console.log(recommendation);
              indicator(recommendation);
            }
            response = await fetch("/callback/get_markers?concern1=" + concern1 + "&concern2=" + concern2 + "&period=" + period + "&number=" + number);
            if(response.ok) {
                let m_list = await response.json();
                concern1_list= m_list['concern1'];
                concern2_list= m_list['concern2'];
                console.log(concern1_list.length);
                console.log(concern2_list.length);
                
                map.remove();
                map = L.map('map').setView([42.361145, -71.057083], 16);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors'}).addTo(map);
                console.log(concern1_list.length);
                console.log(concern2_list.length);
                for (var i = 0; i < concern1_list.length; i++) {
                  console.log([concern1_list[i]['val'][1], concern1_list[i]['val'][2]])
                  var marker1 = L.marker([concern1_list[i]['val'][1], concern1_list[i]['val'][2]]).addTo(map);
                  marker1.bindPopup("<b>Time: </b>" + concern1_list[i]['val'][0] + "<br><b>Category: </b>" + concern1_list[i]['val'][3]);
                  // using flask add image from url to the marker popup

                }
                for (var i = 0; i < concern2_list.length; i++) {
                  var marker2 = L.marker([concern2_list[i]['val'][1], concern2_list[i]['val'][2]]).addTo(map);
                  marker2.bindPopup("<b>Time: </b>" + concern2_list[i]['val'][0] + "<br><b>Category: </b>" + concern2_list[i]['val'][3]);
                }
                
            }
            
            
            
            
            
            
            // response = await fetch("/callback/plot?concern1=" + concern1 + "&concern2=" + concern2 + "&period=" + period + "&number=" + number);
            // if(response.ok) {
            //     let plot = await response.json();
            //     console.log(plot);
            //     Plotly.newPlot('chart_div', plot);
            // }
          }
        }
        function indicator(json) {
          let zip1 = json.first;
          let zip2 = json.second;
          let zip3 = json.third;
          console.log(zip1);
          
          let name = document.getElementById('zip_code1');
          name.innerHTML = zip1[0];
          name = document.getElementById('zipcode2');
          name.innerHTML = zip2[0];
          name = document.getElementById('zipcode3');
          name.innerHTML = zip3[0];
          name = document.getElementById('zip1_cat1');
          name.innerHTML = zip1[1][0];
          name = document.getElementById('zip1_cat2');
          name.innerHTML = zip1[1][1];
          name = document.getElementById('zip1_shop');
          name.innerHTML = zip1[1][2];
          name = document.getElementById('zip1_rest');
          name.innerHTML = zip1[1][3];
          name = document.getElementById('zip1_hotel');
          name.innerHTML = zip1[1][4];
          name = document.getElementById('zip1_hosp');
          name.innerHTML = zip1[1][5];
          name = document.getElementById('zip2_cat1');
          name.innerHTML = zip2[1][0];
          name = document.getElementById('zip2_cat2');
          name.innerHTML = zip2[1][1];
          name = document.getElementById('zip2_shop');
          name.innerHTML = zip2[1][2];
          name = document.getElementById('zip2_rest');
          name.innerHTML = zip2[1][3];
          name = document.getElementById('zip2_hotel');
          name.innerHTML = zip2[1][4];
          name = document.getElementById('zip2_hosp');
          name.innerHTML = zip2[1][5];
          name = document.getElementById('zip3_cat1');
          name.innerHTML = zip3[1][0];
          name = document.getElementById('zip3_cat2');
          name.innerHTML = zip3[1][1];
          name = document.getElementById('zip3_shop');
          name.innerHTML = zip3[1][2];
          name = document.getElementById('zip3_rest');
          name.innerHTML = zip3[1][3];
          name = document.getElementById('zip3_hotel');
          name.innerHTML = zip3[1][4];
          name = document.getElementById('zip3_hosp');
          name.innerHTML = zip3[1][5];

          
          
        }
        // async function show_concern() {
        //   var concern1 = document.getElementById("concern1").value;
        //   var concern2 = document.getElementById("concern2").value;
        //   var period = document.getElementById("period").value;
        //   var number = document.getElementById("number").value;
        //   let response = await fetch("/callback/plot?concern1=" + concern1 + "&concern2=" + concern2 + "&period=" + period + "&number=" + number);
        //   if(response.ok) {
        //       let marker = await response.json();
        //       console.log(marker);
        //       markers= marker['concern'];
        //   }
        // }
        // async function show_infra() {
        //   var concern1 = document.getElementById("concern1").value;
        //   var concern2 = document.getElementById("concern2").value;
        //   var period = document.getElementById("period").value;
        //   var number = document.getElementById("number").value;
        //   let response = await fetch("/callback/plot?concern1=" + concern1 + "&concern2=" + concern2 + "&period=" + period + "&number=" + number);
        //   if(response.ok) {
        //       let marker = await response.json();
        //       console.log(marker);
        //       markers= marker['infra'];
        //   }
        // }
        
    </script>
</body>
</html>